#logo{
    margin: 0px auto;
    width: auto;
    display: inline-block;
    border: 3px solid rgb(240, 231, 221);
    border-radius:50px;
    background-color: #1b1b1b;
    display:inline-block;
    padding: 10px;
    margin-left: 0px;
    cursor: pointer;
}

nav {
    margin-top: 20px;
}

.botom{
    color: white;
    margin: top 30px;
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    text-decoration: none;
    font-family: Arial;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}


#body{ 
    background-color:#eae6df;
    margin-top: 20px;
    
}


h2{
    margin-left:10px;
    font-weight: bold; 
    font-style: normal; 
    font-size: 1.5em;  
    color: rgba(243, 236, 236, 1) !important; 
    line-height: 1.5;
}

.x_list_item {
    text-align:justify;
    padding:0 0 0 1em;
    margin:0;
    margin-left:1em;
}

.text {
    color:white;
    width: 900px;
    height: 500px;
    background: url('./imagem/meditação.jpg');
    background-size: cover;
    backface-visibility: visible;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0,5);
}

.lista_ind {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .lista_ind li {
    width: 300px;
    margin-right: 10px; 
  }
  
  .img_ind {
    width:85%; 
    height: auto; 
  }


.lista-imagens {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .lista-imagens li {
    width: 300px;
    margin-right: 10px; 
  }
  
  .ima_minhapag {
    width:85%; 
    height: auto; 
  }
  
  
  /*brincando com testecss.html*/
  .direita {
    text-align: right;
  }
  .centralizado {
    text-align: center;
  }
  .esquerda {
    text-align: left;
  }

  .t1centrelizado{
    text-align: center;
  }
#id01{text-align: center}
#id02{text-align: right}
#id03{text-align: left}
#id04{color:red }

a:link{color: blue}
a:visited{color:red}
a:hover{color:green}
a:active{color:pink}

h1 {
  color:white;
  background-color: #2c2ab3
}
.porc{font-size: 70%;
  float: left;}
.px{font-size: 18px;
  float: left}
.pt{font-size: 40pt;
float:right}
.em{font-size: 2em;
float:right}
.f1{font-size: 80%;}
.f2{font-family: Verdana}
.f3{font-weight: 1000;
  background:gray;
color:wheat;
float:left}
.f4{font-style:italic;
  background:rgb(235, 15, 15);
  color:wheat;
  float:left}
.f5{text-decoration:double;
  color:black;
  float:left;
  clear:left;
}
.f6{font-feature-settings: "jalt";
  background:rgb(235, 15, 15);
  color:wheat;
  float:left;
}

#div1{
  border: 2px solid black;
  height: 200px;
  width: 25%;
  background-color: red;
}
#div2{
  border: 2px solid black;
  height: 100px;
  width: 5em;
  background-color: yellow;
}
